<!--no .html file for logout, as logging out just directs you home-->
{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content%}
    <form method="POST">
      <h3 align="center">Login</h3>
      <div class="form-em">
        <label for="email">Email Address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter email"
        />
      </div>
      <div class="rectangle"></div>
      <div class="signin"> <p> Sign In</p> </div>
      <div class="form-ps">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <a class="nav-item nav-link signup" href="/signup">
      Don't have an account? 
      <span class="highlight">Sign up.</span>
    </a>
    {% endblock %}