<div class="full-page-scroll">
  <nav class="navbar navbar-expand navbar-dark">
    <a class="navbar-brand" href="/">
      <div class="img">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" height="30" />
      </div>
    </a>

    <div class="navbar-nav">
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
        <a class="nav-item nav-link" href="/fundraising">Fundraising</a>
        <a class="nav-item nav-link" href="/updates">Updates</a>
      {% else %}
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/sign-up">Sign Up</a>
        <a class="nav-item nav-link" href="/fundraising">Fundraising</a>
        <a class="nav-item nav-link" href="/updates">Updates</a>
      {% endif %}
    </div>
  </nav>
</div>
